<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="jp.sblo.pandora.adice"
	android:versionCode="19"
	android:versionName="0.2.5"
	android:installLocation="preferExternal"
	>
	<application
		android:name="aDiceApplication"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
	>
		<activity android:name=".aDiceActivity" android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
			<intent-filter>
				<action android:name="jp.sblo.pandora.adice.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
		        <action android:name="com.adamrocker.android.simeji.ACTION_INTERCEPT" />
		        <category android:name="com.adamrocker.android.simeji.REPLACE" />
		        <category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>

		</activity>
		<activity android:name=".SettingsActivity" android:label="@string/setting_name">
		</activity>
		<activity android:name=".AboutActivity" android:label="@string/about_name">
		</activity>
		<activity android:name=".FileSelectorActivity" android:label="@string/fileselector_name">
		</activity>
		<activity android:name=".FontManagerActivity" android:label="@string/fontmanager_name">
		</activity>
		<activity android:name=".FontSettingsActivity" android:label="@string/fontsettings_name">
		</activity>
		<activity android:name=".InstallActivity" android:label="@string/install_name"
			android:configChanges="orientation|keyboardHidden"
			>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="adice"  android:host="install"  />
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="3" />
 	<uses-permission android:name="android.permission.INTERNET" />
    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:anyDensity="true"  />


 </manifest>